* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
   height: 100vh;
    background: linear-gradient(135deg, #7f00ff, #e100ff, #ff6a00);
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #cccaca;
        }
        
.container {
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header.h1 { width: 100%;
 background: #b06afc; ;}

.logout-btn {
   width: 100%;
    background: #b06afc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.logout-btn:hover{
    background: #e55480;
}
.transaction-form h2,
.transaction-history h2 {
  margin-bottom: 15px;
  color: #fff;
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}
form input,
form button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}
form input {
  flex: 1;
  min-width: 150px;
}
form button {
  background-color: #ff0066;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}
form button:hover {
  background-color: #cc0052;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.15);
}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: white;
}
th {
  background-color: rgba(255, 255, 255, 0.2);
}
.balance {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}
